In [1]:
# Librerias de data wrangling
import numpy as np
import pandas as pd
# Librerias de visualizacion
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
# Defino el numero maximo de filas y columnas
pd.options.display.max_rows = 500
pd.options.display.max_columns = 500
#Defino el formato del dataset
pd.options.display.float_format = '{:.2f}'.format

In [3]:
#Leo el nuevo dataset

df = pd.read_csv('properatti_normalizado.zip', sep=",")
df.head(2)

,Unnamed: 0,index_prop,property_type,place_name,place_with_parent_names,state_name,geonames_id,lat,lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,rooms,description,title,price_aprox_usd_FILLED,surface_covered_in_m2_FILLED,valor_dolar
0,2,2,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Capital Federal,3430787.00,-34.65,-58.52,72000.00,USD,1270404.00,72000.00,55.00,55.00,1309.09,1309.09,nan,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,72000.00,55.00,nan
1,6,6,PH,Munro,|Argentina|Bs.As. G.B.A. Zona Norte|Vicente LÃ...,Bs.As. G.B.A. Zona Norte,3430511.00,-34.53,-58.52,130000.00,USD,2293785.00,130000.00,106.00,78.00,1226.42,1666.67,nan,MUY BUEN PH AL FRENTE CON ENTRADA INDEPENDIENT...,"MUY BUEN PH AL FRENTE DOS DORMITORIOS , PATIO,...",130000.00,78.00,nan

In [44]:
#Filtramos de acuerdo a los barrios de CABA que vamos a utilizar para la regresión con cantidad de propiedades que sean significativas 

mascara_barrios = (df['place_name'] == 'Belgrano') | (df['place_name'] == 'Barrio Norte') | (df['place_name'] == 'Palermo') | (df['place_name'] == 'NuÃ±ez') | (df['place_name'] == 'Puerto Madero') \
    | (df['place_name'] == 'Recoleta') | (df['place_name'] == 'Saavedra') | (df['place_name'] == 'Palermo Hollywood') | (df['place_name'] == 'Colegiales') | (df['place_name'] == 'Palermo Soho') \
    | (df['place_name'] == 'Coghlan') | (df['place_name'] == 'Retiro') | (df['place_name'] == 'Palermo Chico') | (df['place_name'] == 'Las CaÃ±itas') | (df['place_name'] == 'Palermo Viejo') \
    | (df['place_name'] == 'Villa PueyrredÃ³n') | (df['place_name'] == 'Villa General Mitre') | (df['place_name'] == 'Almagro') \
    | (df['place_name'] == 'Caballito') | (df['place_name'] == 'Villa Urquiza') | (df['place_name'] == 'Flores') | (df['place_name'] == 'Villa Crespo') | (df['place_name'] == 'San Telmo') | (df['place_name'] == 'Balvanera') \
    | (df['place_name'] == 'San Cristobal') | (df['place_name'] == 'Monserrat') | (df['place_name'] == 'Villa del Parque') | (df['place_name'] == 'Floresta') | (df['place_name'] == 'Villa Luro') \
    | (df['place_name'] == 'Liniers') | (df['place_name'] == 'Villa Devoto') | (df['place_name'] == 'Congreso') | (df['place_name'] == 'Chacarita') | (df['place_name'] == 'San NicolÃ¡s') | (df['place_name'] == 'Paternal') | (df['place_name'] == 'Once') \
    | (df['place_name'] == 'Parque Chacabuco') | (df['place_name'] == 'Abasto' ) | (df['place_name'] == 'Tribunales' ) | (df['place_name'] == 'Villa Ortuzar' ) | (df['place_name'] == 'Villa Ortuzar' ) | (df['place_name'] == 'Monte Castro' ) \
    | (df['place_name'] == 'Versalles') | (df['place_name'] == 'Velez Sarsfield') | (df['place_name'] == 'AgronomÃ­a') | (df['place_name'] == 'Villa Real') | (df['place_name'] == 'Parque Chas') | (df['place_name'] == 'Villa Santa Rita') \
    | (df['place_name'] == 'Boedo') | (df['place_name'] == 'Barracas') | (df['place_name'] == 'Centro / Microcentro') | (df['place_name'] == 'ConstituciÃ³n') | (df['place_name'] == 'Mataderos') | (df['place_name'] == 'Villa Lugano') \
    | (df['place_name'] == 'Parque Patricios') | (df['place_name'] == 'Parque Centenario') | (df['place_name'] == 'Boca') | (df['place_name'] == 'Parque Avellaneda') | (df['place_name'] == 'Pompeya') | (df['place_name'] == 'Villa Soldati')
    
    
df = df.loc[mascara_barrios]

In [45]:
#Chequeamos como quedo distribuido el dataset en términos de barrios

df['place_name'].value_counts().head(20)

Belgrano             1983
Palermo              1823
Caballito            1644
Recoleta             1087
Villa Urquiza        1069
Villa Crespo         1004
San Telmo             936
Flores                932
Barrio Norte          836
Almagro               776
NuÃ±ez                501
Balvanera             435
Palermo Hollywood     428
Saavedra              401
Boedo                 335
Villa del Parque      328
Barracas              306
Monserrat             300
Palermo Soho          290
Villa Luro            280
Name: place_name, dtype: int64

In [46]:
#Eliminamos nulos en las feature elegidas del dataset y en la variable objetivo

df.dropna(axis=0,how='any',subset=['rooms'], inplace=True)
df.dropna(axis=0,how='any',subset=['surface_total_in_m2'], inplace=True)
df.dropna(axis=0,how='any',subset=['price_aprox_usd_FILLED'], inplace=True)

In [47]:
df.shape

(9023, 23)

In [48]:
df['price_aprox_usd_FILLED'].describe()

count     9023.00
mean    208013.93
std     166370.10
min      30100.00
25%     100000.00
50%     150000.00
75%     250000.00
max     999000.00
Name: price_aprox_usd_FILLED, dtype: float64

In [49]:
#Generamos variables Dummies para el tipo de propiedad

df_CABA_NGBA_with_type= pd.get_dummies(df['property_type'], drop_first=True)
df = pd.concat([df, df_CABA_NGBA_with_type], axis=1)
df_CABA_NGBA_with_type.head()

    apartment  house  store
5           1      0      0
6           1      0      0
8           0      0      0
11          1      0      0
12          1      0      0

In [50]:
#Generamos variables Dummies para los barrios

df_CABA_NGBA_with_dummies = pd.get_dummies(df['place_name'], drop_first=True)
df = pd.concat([df, df_CABA_NGBA_with_dummies], axis=1)

In [51]:
df.head(2)

,Unnamed: 0,index_prop,property_type,place_name,place_with_parent_names,state_name,geonames_id,lat,lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,rooms,description,title,price_aprox_usd_FILLED,surface_covered_in_m2_FILLED,valor_dolar,apartment,house,store,AgronomÃ­a,Almagro,Balvanera,Barracas,Barrio Norte,Belgrano,Boca,Boedo,Caballito,Centro / Microcentro,Chacarita,Coghlan,Colegiales,Congreso,ConstituciÃ³n,Flores,Floresta,Las CaÃ±itas,Liniers,Mataderos,Monserrat,Monte Castro,NuÃ±ez,Once,Palermo,Palermo Chico,Palermo Hollywood,Palermo Soho,Palermo Viejo,Parque Avellaneda,Parque Centenario,Parque Chacabuco,Parque Chas,Parque Patricios,Paternal,Pompeya,Puerto Madero,Recoleta,Retiro,Saavedra,San Cristobal,San NicolÃ¡s,San Telmo,Tribunales,Velez Sarsfield,Versalles,Villa Crespo,Villa Devoto,Villa General Mitre,Villa Lugano,Villa Luro,Villa Ortuzar,Villa PueyrredÃ³n,Villa Real,Villa Santa Rita,Villa Soldati,Villa Urquiza,Villa del Parque
5,13,13,apartment,Palermo Soho,|Argentina|Capital Federal|Palermo|Palermo Soho|,Capital Federal,3430234.00,nan,nan,111700.00,USD,1970890.65,111700.00,50.00,30.00,2234.00,3723.33,1.00,Torre I Mondrian. 3 ambientes con terraza y d...,Vitraux Palermo,111700.00,30.00,nan,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,14,14,apartment,Palermo Soho,|Argentina|Capital Federal|Palermo|Palermo Soho|,Capital Federal,3430234.00,nan,nan,147900.00,USD,2609621.55,147900.00,42.00,31.00,3521.43,4770.97,1.00,Torre II DalÃ­. Ambiente unico divisible.Vitra...,Vitraux Palermo,147900.00,31.00,nan,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [52]:
#Minamos el campo 'description' para obtener dummies de características significativas de las propiedades

df['tiene_amenities'] = df['description'].map(lambda x: 1 if x.lower().find('amenities')>0 else 0)
df['tiene_amenities'].value_counts()

0    7621
1    1402
Name: tiene_amenities, dtype: int64

In [53]:
#Minamos el campo 'description' para obtener dummies de características significativas de las propiedades

df['tiene_cochera'] = df['description'].map(lambda x: 1 if x.lower().find('cochera')>0 else 0)
df['tiene_cochera'].value_counts()

0    5936
1    3087
Name: tiene_cochera, dtype: int64

In [54]:
#Minamos el campo 'description' para obtener dummies de características significativas de las propiedades

df['es_al_frente'] = df['description'].map(lambda x: 1 if x.lower().find(' frente ')>0 else 0)
df['es_al_frente'].value_counts()

0    6963
1    2060
Name: es_al_frente, dtype: int64

In [55]:
#Minamos el campo 'description' para obtener dummies de características significativas de las propiedades
df['a_estrenar'] = df['description'].map(lambda x: 1 if x.lower().find('a estrenar')>0 else 0)
df['a_estrenar'].value_counts()

0    8138
1     885
Name: a_estrenar, dtype: int64

In [56]:
#Minamos el campo 'description' para obtener dummies de características significativas de las propiedades
df['con_parrilla'] = df['description'].map(lambda x: 1 if x.lower().find('parrilla')>0 else 0)
df['con_parrilla'].value_counts()

0    6806
1    2217
Name: con_parrilla, dtype: int64

In [57]:
df['piscina'] = df['description'].map(lambda x: 1 if x.lower().find('piscina')>0 else 0)
df['piscina'].value_counts()

0    7725
1    1298
Name: piscina, dtype: int64

In [58]:
#Chequeo cantidad final de registros y features

df.shape

(9023, 90)

In [59]:
#Importamos las librerías de sklearn que usaremos en la regresión.

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [60]:
# creamos lista de features

feature_cols = ['Belgrano', 'Barrio Norte', 'Palermo', 'NuÃ±ez', 'Puerto Madero', 'Recoleta', 'Saavedra', 'Palermo Hollywood', 'Colegiales', 'Palermo Soho', 'Almagro' \
    , 'Coghlan', 'Retiro', 'Palermo Chico', 'Las CaÃ±itas', 'Palermo Viejo' , 'Villa PueyrredÃ³n', 'Villa General Mitre', 'Boedo', 'Barracas', 'Centro / Microcentro', 'ConstituciÃ³n', 'Mataderos', 'Villa Lugano', 'Parque Patricios', 'Parque Centenario', 'Boca'  \
    , 'Parque Avellaneda' , 'Pompeya' , 'Villa Soldati', 'Caballito', 'Villa Urquiza', 'Flores', 'Villa Crespo', 'San Telmo', 'Balvanera', 'San Cristobal', 'Monserrat', 'Villa del Parque'  \
    , 'Floresta' , 'Villa Luro' , 'Liniers' , 'Villa Devoto' , 'Congreso' , 'Chacarita' , 'San NicolÃ¡s' , 'Paternal' , 'Once' , 'Parque Chacabuco' \
    , 'Tribunales' , 'Villa Ortuzar' , 'Monte Castro' , 'Versalles' , 'Velez Sarsfield' , 'AgronomÃ­a', 'Villa Real' , 'Parque Chas' , 'Villa Santa Rita'\
    , 'rooms', 'surface_total_in_m2', 'apartment' , 'house', 'store', 'tiene_amenities', 'tiene_cochera' , 'es_al_frente', 'a_estrenar', 'con_parrilla', 'piscina']

In [61]:
#Definimos el set de features y objetivo que usaremos en la regresión y corremos el modelo

X = df[feature_cols]
y = df.price_aprox_usd_FILLED
X_train, X_test, y_train, y_test = train_test_split(X, y)
linreg = LinearRegression()
linreg.fit(X_train, y_train)
y_pred = linreg.predict(X_test)
print ('MSE:', metrics.mean_squared_error(y_test, y_pred))
print ('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print ('R2:', metrics.r2_score(y_test, y_pred))

MSE: 5560709518.434799
RMSE: 74570.16506911325
R2: 0.8173497519885881

In [62]:
#Hago el testeo con Cross Validation

from sklearn.model_selection import cross_validate

X = df[feature_cols]
y = df.price_aprox_usd_FILLED
cv_resultado = cross_validate(linreg, X, y, cv=5)
cv_resultado

{'fit_time': array([0.01890206, 0.00983262, 0.00928211, 0.0100081 , 0.01051879]),
 'score_time': array([0.001688  , 0.0017314 , 0.00168014, 0.00166988, 0.0016377 ]),
 'test_score': array([0.80705593, 0.79929876, 0.80954395, 0.80589195, 0.82489849])}

In [63]:
cv_resultado['test_score'].mean()

0.8093378141777456